.godzilla {
    width: 30px;
    height: 30px;
    background-image: url('https://i.ebayimg.com/images/g/o9oAAOSwqqRdxPmj/s-l500.jpg');
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  